/* copyright Ken Anderson, 2015-2018 */

/* Container */
html {height:100%;margin:0;}
body {height: 100%;}
#container {
	height: 100%;
	margin: 4em auto 0 auto;
}
header, footer, #container {
	max-width: 800px;
}

/* Positioning header, footer, content */
footer, header {
	width: 100%;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
#content {
	margin: 0;
	padding: 8px;
	background-color: #D5D5D5;
	min-height: 100%;
}

header {
	display: inline-block;
	position: fixed;
	margin: -4em 0 0 0;
	height: 4em;
	line-height:4em;
	background-color: white;
	z-index: 1;
	vertical-align: middle;
}
a.anchor{display: block; position: relative; top:-4em; visibility: hidden;}

/* Header styling */
header nav {
	width: 100%;
	height: 100%;
	line-height: 2em;
	vertical-align: middle;
}
header nav ul {
	height: 100%;
	vertical-align: middle;
	list-style: none;
	padding: 0;
	margin: 0;
}
header nav li { 
	float: right;
	display: inline-block;
}
header nav img {
	display: inline-block;
	height: 2em;
	vertical-align: middle;
}
header nav a {
	display: inline-block;
	padding: 0 5px 0 5px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	transition: .5s background-color;
}
header nav #logo {
	text-shadow: 2px 2px #cccccc;
	float: left;
}
header nav a:hover {
	background-color:#AAAAAA;
}

/* Section styling */
section {
	position: relative;
	display:inline-block;
}
section.hasimg {
	padding-right: 220px;
	min-height:200px;
}
section img {
	display:inline-block; 
	position: absolute;
	top:4em;right:0;
	max-width:200px;
	max-height:140px;
}
section li {
	padding: 5px;
}

/* Footer styling */
footer {
	margin: 0 0 0 0;
	text-align: center;
}

.clearfix {
	clear: both;
}
