<ul>
<li><a href="index.html"><img src="images/favicon.png" alt="Image" />Ken Anderson</a></li>
<li><a href="robotics.html">Robotics</a></li>
<li><a href="ai.html">Artificial Intelligence</a></li>
<li><a href="video.html">Video/Image Processing</a></li>
<li><a href="publications.html">Publications</a></li>
</ul>

