<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<title>Ken Anderson</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>

<body>
<div id="container">

<div>
<header>
<nav>
  {{> nav}}
</nav>
</header>
</div>
<div class="clearfix"></div>

<div id="content"{{#hasimg}} class="hasimg"{{/hasimg}}>

{{#Title}}
  <h1>{{Title}}</h1>
{{/Title}}

{{#Sections}}
  <section>
    <h2>{{Title}}</h2>
    <div class="sectionbody">
    {{{Html}}}
    </div>
{{#Image}}
    <div class="imageblock"><div class="content">
    <img src="{{Image}}" alt="">
    </div></div>
{{/Image}}
  </section>
{{/Sections}}

</div>
<footer>Copyright &copy; Ken Anderson, 2007-2020</footer>
</div>
</body>
</html>
