<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<title>Ken Anderson</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="icon" type="image/svg+xml" href="images/favicon.svg">
</head>

<body>
<!--div id="container"-->

<div id="header">
  <h1><a href="index.html"><img src="images/favicon.svg" alt="Image" /> Ken Anderson</a></h1>
</div>
<div id="nav">
  {{> .nav}}
</div>
<div class="clearfix"></div>

<div id="content">

{{#Title}}
  <h1>{{Title}}</h1>
{{/Title}}

<div class="row">
{{#Sections}}
  <section {{#layout}} class="{{layout}}" {{/layout}}>
    <header>
      <h2>{{Title}}</h2>
{{#Subtitle}}
      <p class="subtitle">{{Subtitle}}</p>
{{/Subtitle}}
    </header>
{{#Image}}
    <img src="{{Image}}" alt="">
{{/Image}}
    <div>
    {{{Html}}}
    </div>
  </section>
{{/Sections}}
</div>

</div>
<div id="footer">&copy; Ken Anderson, 2007-2020</div>
</body>
</html>
